@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center


}

main h1{
    font-family: 'Cinzel', sans-serif;
    color: #8F0002;
}

#apresentacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 80px;

}

main h2, main p , main span{
    font-family: 'Inter',sans-serif;
}

#div-cardapio{
    display: flex;
    flex-direction: column;
}


.conteudo-cardapio{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.conteudo-cardapio:hover{
    background-color: rgba(0, 0, 0, 0.100);
}

.conteudo-cardapio img{
    width: 120px;
    height: 140px;
    border: 3px solid #8F0002;
}

.conteudo-cardapio h2{
    color: #8f0002c0;
    margin-left: 5px;
    font-size: 32px;
    width: 400px;
}



.conteudo-cardapio p{
    width: 400px;
    font-weight: bold;
}

.conteudo-cardapio span{
    font-weight: bold;
    margin-left: 15vw;
    width: fit-content;
    font-size: 32px;
}

.item1{
    margin-top: 0;
}


@media only screen and (max-width: 1024px){

    #div-cardapio{
        width: 80%;
        margin-right: 10%;
    }

    .conteudo-cardapio{
        padding: 10px;
        margin-top: 25px;

    }

    .conteudo-cardapio span{
        font-size: 18px;
        margin-left: 4vw;
    }
    .conteudo-cardapio h2{
        font-size: 24px;
        width: 65vw;
        margin: 0;
        margin-bottom: 25px;

    }

    .conteudo-cardapio p{
        width: 65vw;
        margin: 0;
    }

    
}