@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

footer{
    margin-top: 50px;
    width: 100%;
    background-color:#FFF2E3 ;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    height: 120px;
}


footer h3{
    font-size: 16px;
    text-align: center;
}

footer h4{
    font-size: 12px;
    text-align: center;
}

#conteudo-footer{
    display:  flex;
    flex-direction: row;
    justify-content: center;
    
}

#conteudo-footer div{
    width: 250px;
    margin-left: 1%
}


#div-redesSociais img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#div-redesSociais h4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

footer div{
    background-color:#FFF2E3 ;
}

