@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin: 0;
}

header{
    position: fixed;
    font-family: 'Inter';
    width: 100%;
    height: 72px;
    background-color: #FFF2E3;
    display: flex;
    justify-content: center;
    z-index: 3;
}

#icone-menu,#icone-sair-menu{
   display: none;
}

#conteudo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    font-weight: 600;
}

#logo{
    height: 72px;
    width: 116px;
    cursor: pointer;}

.header-link{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 24px;
    padding: 5px;
    border-radius: 8px;
    font-weight: 500;
}

.header-link:hover{
    background-color: #dcd0c3;
}

@media only screen and (max-width: 1024px){
   
   
    header{
        justify-content: flex-start;
    }
 
   #logo{
    position: absolute;
    left: calc(50vw - 116px + 48px);

   }

    #icone-menu,#icone-sair-menu{
        display: block;
        width: 48px;
        height: 48px;
        position: relative;
        left: 0px;
        top: 10px;
        cursor: pointer;
    }

    #icone-menu{
        float: left;}
    #icone-sair-menu{
        left: 150px;
        width: 32px;
        height: 32px;
        z-index: 2;
    }
    
    #conteudo-header{
        flex-direction: column;
        position: fixed;
        left: -200px;
        top: 0px;
        background-color: #093928;
        width: 200px;
        height: 100%;
        align-items: flex-start;
        transition: 1s;
        z-index: 1;
    }

  
    #conteudo-header a{
       
        color: white;
    }
    #conteudo-header a:hover{
        background-color:#298a689e ;
    }

    .primeiroItemLateral{
        margin-top: 60px;
    }
}