@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#horario {
    font-family: 'Inter','sans-serif';
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#conteudo-horario{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#conteudo-horario div{
    margin-left: 50px;
}
#horario h2{
    color: #8F0002;
}

#horario h3{
    text-align: center;
}

#horario h4{
    font-size: 16px;
    font-weight: 300;
}


@media only screen and (max-width: 1024px){
#conteudo-horario{
    width: 100%;
    justify-content: center;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

#conteudo-horario div{
    margin-left: 20px;
}

}