@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;

}

main h1{
    font-family: 'Cinzel', serif;
    color: #fff;
}

main h4{
    font-family: 'Inter',sans-serif;
}



#banner{
    position: absolute;
    top: 72px;
    width: 100vw;
    height: calc(100vh - 72px);
    z-index: -1;
    background-color: black;
    filter:brightness(0.6)
}
#banner:hover{
    opacity: 50%;
    cursor: pointer;
}


#disc-banner h4{
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    color: #f3f3f3;
    font-weight: 600;
    max-width: 300px;
    line-height: 1.4em;
    position: relative;
    top: calc(100vh - 572px);
    left: calc(-50vw + 180px);
    text-align: start;
}

#disc-banner{
    position: absolute;
    top: 72px;
}

#localizacao{
    margin-top:100vh !important;

}

@media only screen and (max-width: 760px){

    #banner{
        height: calc(30vh + 72px);
    }

    #disc-banner h4{
        top: calc(1vw );
        left: 0;
        text-align: center;
        font-size: 14px;
        line-height: 1.8em;
        color: #f3f3f3;
    }

    #localizacao{
        margin-top: calc(30vh + 72px + 150px)!important;
    }

}



