@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#localizacao{
    margin-top: 50px;
}

#localizacao h2{
    font-family: 'Inter';
    font-size: 24px;
    color:#8F0002 ;
    text-align: center;
}
#localizacao iframe{
    width: 50vw;
    height: 55vh;
    border-radius: 8px;
}

@media only screen and (max-width: 900px){
    #localizacao iframe{
        width: 80vw;
        height: 25vh;
    }
}